############################################
## Generic System Ignores
syntax: glob

!.gitignore
.DS_Store
Thumbs.db

## Project Files
geocoder/archive/*.json
geocoder/archive/*.txt
geocoder/archive.zip
config.php
